header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'logo menu'
    'logo highscore';
  padding: 1rem;
  width: 100%;
}

.logo-container {
  grid-area: logo;
  display: flex;
  align-items: center;
}

.logo {
  width: 60px;
  height: 60px;
}

.menu {
  grid-area: menu;
  justify-self: end;
  align-self: flex-start;
  display: flex;
  align-items: center;
  width: 150px;
  justify-content: space-between;
}

.menu-btn {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.menu-btn img {
  width: 24px;
}

.next-btn img {
  transform: rotate(180deg);
}

.high-score {
  grid-area: highscore;
  justify-self: end;
  align-self: center;
  text-align: center;
  width: 150px;
  font-size: 0.65rem;
}

@media (min-width: 1024px) {
  header {
    padding: 0.5rem 3rem;
  }
}
